/**		
  *		RiverStatusBoard: Information for Rowers and Paddlers
  *		Allegheny River information for Three Rivers Rowing Association (TRRA)
  *		by Maxwell B Garber <max.garber+dev@gmail.com>
  *		styles.css created on 2017-06-26
 **/


/*	General Styles */
html {
}

body {
	color: #ffffff;
	text-shadow: 0 0 5px #444444;
	background: linear-gradient(#000000, #3c3c45);
}

/*	Content Layout	*/
#container-outer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	width: auto;
	height: auto;
	min-width: 360px;
	min-height: 480px;
}

#container-inner {
	width: auto;
	margin-left: 0.1em;
	margin-right: 0.1em;
	padding-top: 0;
}

/*	Rows, Columns, Cells	*/
#controlCells {
	color: #ffffff;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

#controlCells span:hover {
	text-shadow: 0 0 0.5em white;
}
#controlCells span:active {
	color: #aaaaaa;
	text-shadow: 0 0 0.5em black;
}

.controlCellSpacer {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

#lastUpdatedCol {
	padding-top: 0.1em;
	font-size: 1.5em;
}

#lastUpdatedLabel {
	
}

#titleRow {
	padding-top: 0.75em;
	margin-top: 0.75em;
	padding-bottom: 0.5em;
	margin-bottom: 1.5em;
}

#conditionsRow {}

#footnoteRow {
	margin-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

#graphRow {}

#attributionRow {
	margin-top: 3em;
	vertical-align: middle;
	padding-bottom: 1em;
}

#copyrightRow {
	padding-top: 3em;
}

#copyrightRow span {
	margin-top: 1em;
	color: #ffffff;
	font-weight: thin;
}

#bottom-gutter {
	height: 5em;
}

/*	Style modifications	*/
.bottom-border {
	color: #ffffff;
	border-bottom: 1pt solid white;
	padding-bottom: 2em;
}
.top-border {
	color: #ffffff;
	border-top: 1pt solid white;
	padding-top: 2em;
}

div.row h2 {
	margin-bottom: 1.5em;
}

.waterTempAndUnitsDiv {
	display: inline-block;
}

/*	Current ('Now') Styles	*/

.now-value-row {
	color: white;
	line-height: 6em;
	margin-bottom: 0.5em;
	vertical-align: top;
}

.now-value-name span {
	font-size: 1.5em;
	font-weight: normal;
	vertical-align: middle;
}

.now-value-value span {
	font-size: 2em;
	vertical-align: middle;
	padding-left: 0.4em;
	padding-right: 0.4em;
	margin-right: 0;
	text-shadow 0 0 0.1em black;
}

span.now-value-units {
	margin-left: 0;
	margin-right: 0;
	font-size: 1.5em;
	font-weight: normal;
}

/*	current zone styles	*/
#zoneColTitle {
	padding-bottom: 2em;
}

#zone-data-container {
	max-width: inherit;
	margin-bottom: 3em;
}

#dataField-zone {
	font-size: 14em;
	font-weight: bolder;
	padding-left: 0.3em;
	padding-right: 0.3em;
	padding-top: 0.075em;
	padding-bottom: 0.05em;
}


/*	Current Rules' Styles	*/

#rules-data-container {
	padding-top: 1em;
	padding-right: 2em;
}

.rules-value-row {
	margin-top: 2.5em;
}

.rules-value-name {}

.rules-value-name > span {
	font-size: 1.25em;
}

.rules-value-value {
	font-size: 1.25em;
	padding-left: 0;
	padding-top: 1em;
}

.rules-value-value > span {
	color: white;
}

/*	Graph styles	*/
#graph-data-container {
	padding-bottom: 5em;
}

#graphCanvas {
	height: 15em;
}

/*	Display Customization	*/

.label-zone-7 {
	border: 1pt solid white;
}

#status-info-separator {
	margin-top: 0;
	margin-bottom: 1em;
}

.controlsContainer {
	margin-top: 0.5em;
}

.controlElement:active {
	color: #f0f0f0;
}

/*	Attribution styles	*/

#attributionRow > div {
	display: inline-block;
	vertical-align: middle;
	height: 3.5em;
	max-height: 3.5em;
	margin-bottom: 2em;
}

.attribution-logo-container {
	display: inline-block;
	margin: auto;
}

.attribution-logo {
	height: 3.5em;
	max-height: 3.5em;
}

.attributionHeader {
	color: #ffffff;
	font-weight: bold;
	padding-top: 0.5em;
}

.attributionBody {
	color: #ffffff;
	font-weight: thin;
	padding-bottom: 1.5em;
}

/*	Debugging Styles	*/

.dashed-border {
	border: 1px dashed white;
}

#attributionRow > div {}

/* EOF */
