/**		
  *		RiverStatusBoard: Information for Rowers and Paddlers
  *		Allegheny River information for Three Rivers Rowing Association (TRRA)
  *		by Maxwell B Garber <max.garber+dev@gmail.com>
  *		styles.css created on 2017-06-26
 **/


/*	General Styles */
html {
	background-color: #4c4c55;
}

body {
	color: #ffffff;
	text-shadow: 0 0 5px #444444;
}

.h1-custom {
	color: #ffffff;
}

.dividingRow-topBorder {
	padding-top: 2em;
	padding-bottom: 2em;
	border-top: 2pt solid white;
}

.dividingRow-bottomBorder {
	padding-top: 2em;
	padding-bottom: 2em;
	border-bottom: 2pt solid white;
}

#container-outer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	width: auto;
	height: auto;
		
	background: linear-gradient(#0e0e0e, #4c4c55);
}

#container-inner {
	width: auto;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding-top: 0.5em;
}

.colTitle {
	color: white;
	padding-top: 1em;
}


/*	Current ('Now') Styles	*/
#now-data-container {

}

.now-value-row {
	color: white;
	line-height: 5em;
	margin-top: 0.25em;
	vertical-align: middle;
}

.now-value-name span {
	font-size: 1.5em;
	font-weight: normal;
	vertical-align: middle;
}

.now-value-value span {
	font-size: 2em;
	vertical-align: middle;
	padding-left: 0.3em;
	padding-right: 0.3em;
	margin-right: 0;
	text-shadow 0 0 0.1em black;
}

span.now-value-units {
	margin-left: 0;
	margin-right: 0;
	font-size: 1.5em;
	font-weight: normal;
}

/*	Current Zone's Styles	*/
#zone-data-container {
	height: 26em;
	line-height: 26em;
}

#dataField-zone {
	font-size: 16em;
	font-weight: normal;
	padding: 0 0.27em 0 0.27em;
	background-color: #777777;
	border-radius: 0.15em;
	vertical-align: middle;
}

/*	Current Rules' Styles	*/
#rules-data-container {

}

.rules-value-row {
	margin-top: 2em;
	line-height: 2em;
}

.rules-value-name {
	margin-bottom: 1em;
}

.rules-value-name > span {
	font-size: 1.25em;
	
}

.rules-value-value {
	font-size: 1.25em;
	padding-left: 0;
}

.rules-value-value > span {
	color: white;
}

/*	Graph styles	*/
#graph-data-container {
	padding-bottom: 5em;
}
#graphCanvas {
	height: 15em;
}
#graphRow {
	padding-top: 2em;
}

/*	Display Customization	*/

.label-zone-1 {
	/* background-color: #107e02; */
}

.label-zone-7 {
	border: 1pt solid white;
}

#status-info-separator {
	margin-top: 0;
	margin-bottom: 1em;
}

.controlsContainer {
	margin-top: 0.5em;
}

.controlElement {
	color: #ffffff;
	font-weight: thin;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.controlElement:active {
	color: #f0f0f0;
}

.attribution-logo {
	display: block;
	margin: auto;
	min-height: 1em;
	max-height: 3em;
	min-width: 3em;
	max-width: 5em;
	vertical-align: middle;
}

.attributionHeader {
	color: #ffffff;
	font-weight: bold;
	padding-top: 0.5em;
}

.attributionBody {
	color: #ffffff;
	font-weight: thin;
	padding-bottom: 1.5em;
}

.disclaimer {
	color: #ffffff;
	font-weight: thin;
}

#bottom-gutter {
	height: 5em;
}

/*	Debugging Styles	*/
.dashedBorder {
	border: 1px dashed white;
}

.vcenter {
	position: absolute;
	top: 50%;
	left: 50%;
}

/* EOF */
